@model CaKoi.Respository.Entities.DonHang

<h4>Đơn Hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IddonHang" />
            <div class="form-group">
                <label asp-for="NgayGiao" class="control-label">Ngày Giao</label>
                <input type ="date" asp-for="NgayGiao" class="form-control" />
                <span asp-validation-for="NgayGiao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label">Trạng Thái</label>
                <br/>
                <select asp-for="TrangThai" class="form-control">
                    <option value="Da">Đã</option>
                    <option value="Dang">Đang</option>
                    <option value="Chua">Chưa</option>
                </select>
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
