@model CaKoi.Respository.Entities.KhachHang
@{
    ViewData["Title"] = "Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Đăng Ký Tài Khoản</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenTaiKhoan" class="control-label">Tên Tài Khoản</label>
                <input asp-for="TenTaiKhoan" class="form-control" />
                <span asp-validation-for="TenTaiKhoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label">Mật Khẩu</label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hoten" class="control-label"> Họ và Tên</label>
                <input asp-for="Hoten" class="form-control" />
                <span asp-validation-for="Hoten" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Ngaysinh" class="control-label">Ngày Sinh</label>
                <input type="date" asp-for="Ngaysinh" class="form-control" />
                <span asp-validation-for="Ngaysinh" class="text-danger"></span>
            </div>
            <div class="form-group; ">
                <label asp-for="Gioitinh" class="control-label">Giới Tính</label> <br />
                <select asp-for="Gioitinh">
                    <option value="Nam">Nam</option>
                    <option value="Nu">Nữ</option>
                </select>
                <span asp-validation-for="Gioitinh" class="text-danger"></span>
            </div>
            <br/>
            <br />
            <div class="form-group">
                <label asp-for="Sdt" class="control-label">Số Điện Thoại</label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo Tài Khoản" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>

