
@{
    ViewData["Title"] = "Home Page";
}

<!-- Header Section End -->
<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="~/Shop">Giống cá</a></li>
                        <li><a href="~/Page/TrangTrai">Trang Trại</a></li>
                        <li><a href="#">Mức giá</a></li>
                        <li><a href="#">Thời Gian</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="hero__search">

                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="img/hero/ca-koi.jpg">
                    <div class="hero__text">
                        <span>KOI FISH</span>
                        <h2 style="color:white">Cá Koi <br />100% Koi Farm</h2>
                        <p style="color:antiquewhite">Free Pickup and Beutiful Fish</p>
                        <a href="~/Shop" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cac-Asagi.jpg">
                        <h5><a href="#">Asagi</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cac-Goromo.jpg">
                        <h5><a href="#">Goromo</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cac-Showa.jpg">
                        <h5><a href="#">Showa</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cac-Tancho.jpg">
                        <h5><a href="#">Tancho</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="img/categories/cac-Taisho-Sanke-3.jpg">
                        <h5><a href="#">Quên Tên =))</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Cá Ở Các Trang Trại</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".Matsue">Matsue Nishikigoi Center</li>
                        <li data-filter=".Dainichi">Dainichi Koi Farm</li>
                        <li data-filter=".Fukasawa">Fukasawa Koi Farm</li>
                        <li data-filter=".Marusei">Marusei Koi Farm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            <div class="col-lg-3 col-md-4 col-sm-6 mix Matsue Dainichi">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/Bekko.jpg">
            
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix Fukasawa Marusei">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/ginrin.jpg">
                 
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix Fukasawa Dainichi">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/kohaku.jpg">
                
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix Marusei Matsue">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/ogon.jpg">
       
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix Dainichi Fukasawa">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/platinum.jpg">
       
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix Matsue Marusei">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/taisho-sanke.jpg">

                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix Dainichi Fukasawa">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/tancho.jpg">
        
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix Marusei Fukasawa">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="img/featured/utsuri.jpg">

                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="img/banner/Fukasawa Koi Farm.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="img/banner/Matsue Nishikigoi Center.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Latest Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/kohaku.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Kohaku</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/ogon.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Ogon</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/Bekko.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Bekko</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/kohaku.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Kohaku</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/ogon.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Ogon</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/Bekko.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Bekko</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Top Rated Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/kawarimono.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Kawarimono</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/ginrin.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Ginrin</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/tancho.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Tancho</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/kawarimono.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Kawarimono</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/ginrin.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Ginrin</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/tancho.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Tancho</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Review Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/platinum.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Platinum</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/taisho-sanke.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Taisho-sanke</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/utsuri.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Utsuri</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/platinum.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Platinum</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/taisho-sanke.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Taisho-sanke</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="img/latest-product/utsuri.jpg" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>Utsuri</h6>
                                    <span>$30.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End -->
<!-- Footer Section Begin -->
